<div class="form-group">
  <%= f.label :starting_time %><br>
  <%= f.text_field :starting_time, class: 'form-control', :placeholder => "When does this sample first occur in the song? (ex: 0:20)" %>
</div>

<div class="form-group">
  <%= f.label :other_times %><br>
  <%= f.text_field :other_times, class: 'form-control', :placeholder => "At what other times does this sample occur in the song? Separate times with commas." %>
</div>

<div class="form-group">
  <%= f.label :source %><br>
  <%= f.text_field :source, class: 'form-control', :placeholder => "What is the source of this sound? Example: VSTs, instruments, or drum/sample kits." %>
</div>

<div class="form-group">
  <%= f.label :description %> - <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" class="href">Guide to markdown</a><br>
  <%= f.text_area :description, class: 'form-control', :placeholder => "Use markdown to write a description." %>
</div>


<div class="form-group">
  <%= f.label :song_id %><br>
  <%= f.text_field :song_id, class: 'form-control', :placeholder => "Enter the corresponding song's ID" %>
</div>

<div class="form-group">
  <%= f.submit class: 'btn btn-primary' %>
</div>