<% require 'redcarpet' %>
<% renderer = Redcarpet::Render::HTML.new %>
<% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true) %>

<div class="container">
	<h2><%= @song.title %> - <%= @song.artist %><% if !@song.features.empty? %> (feat. <%= @song.features %>)<% end %></h2>
	<div class="row">
		<div class="col-md-12">
		  <div class="col-md-6 col-md-push-6 song-details">
		      <h4>Produced by: <%= @song.producers %></h3>
		      <p><%= markdown.render(@song.description).html_safe %></p>

		      <%= link_to "Delete", song_path, method: :delete, data:{confirm: "You sure?"} %>
		  </div>
		  <div class="col-md-6 col-md-pull-6 song-video">
		    <div class="embed-responsive embed-responsive-16by9">
		      <iframe class="embed-video" src="<%= @song.url %>" allowfullscreen></iframe>
		    </div>
		  </div>
		</div>
	</div>
</div>

<% count = 0 %>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-6">
				<h3>Samples</h3>
				<% @song.samples.sort_by {|s| s.starting_time_i}.each do |sample| %>
				    <div class="sample">
				    	<button type="button" class="btn btn-primary modal-btn" data-toggle="modal" data-target=".modal-lg-<%= count %>"><h4><%= sample.starting_time %><% if !sample.other_times.empty? %>, <%= sample.other_times %><% end %> - <%= sample.artist %></h4></button>
				    	<div class="modal fade modal-lg-<%= count %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog modal-lg">
						    <div class="modal-content">
						    	<div class="modal-header">
					                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					            </div>
						    	<h2 class="modal-title" id="myModalLabel"><%= sample.starting_time %><% if !sample.other_times.empty? %>, <%= sample.other_times %><% end %> - <%= sample.artist %></h2>
						      	<h4><%= markdown.render(sample.description).html_safe %></h4>
						      	<% if !sample.url.empty? %>
						      	<div class="embed-responsive embed-responsive-16by9">
							      <iframe class="embed-video" src="<%= sample.url %>" allowfullscreen></iframe>
							    </div>
							    <% end %>
							    <div class="modal-footer">
					                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					            </div>
						    </div>
						  </div>
						</div>
				    </div>
				    <% count += 1 %>
				<% end %>
			</div>
			<div class="col-md-6">
				<h3>Other elements</h3>
				<% @song.elements.sort_by {|s| s.starting_time_i}.each do |element| %>
				    <div class="element">
				    	<button type="button" class="btn btn-primary modal-btn" data-toggle="modal" data-target=".modal-lg-<%= count %>"><h4><%= element.starting_time %><% if !element.other_times.empty? %>, <%= element.other_times %><% end %> - <%= element.source %></h4></button>
				    	<div class="modal fade modal-lg-<%= count %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog modal-lg">
						    <div class="modal-content">
							    <div class="modal-header">
					                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					            </div>
						    	<h2 class="modal-title" id="myModalLabel"><%= element.starting_time %><% if !element.other_times.empty? %>, <%= element.other_times %><% end %> - <%= element.source %></h2>
						      	<h4><%= markdown.render(element.description).html_safe %></h4>
						      	<!-- <div class="embed-responsive embed-responsive-16by9">
							      <iframe class="embed-video" src="?html5=1" allowfullscreen></iframe>
							    </div> -->
							    <div class="modal-footer">
					                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					            </div>
						    </div>

						  </div>
						</div>
				    </div>
				    <% count += 1 %>
				<% end %>
			</div>
		</div>
	</div>
</div>

